MONGO_URI=
MONGO_DB_NAME=ai_story
MONGO_TLS_INSECURE=false
AUTH_SECRET="n2wl4YFBWEnJkjeI1i7tgzSem/tDCGvSvN8hxwZDhRE=" # Added by `npx auth`. Read more: https://cli.authjs.dev
GOOGLE_SSO_CLIENT_SECRET=
GOOGLE_SSO_CLIENT_ID=
GCS_PROJECT_ID=
GCS_BUCKET_NAME=ai-story-media
GCS_CREDENTIALS=
AUTH_SESSION_OVERRIDE={"email":"example@gmail.com"}